*{margin: 0px;
    padding: 0px;}
    
  header, nav, section, article, footer,aside, hgroup{display: block;}
  
  body{
      background: #ffffff;
    -webkit-touch-callout: none; /*Disable text selection*/
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#playerTable{
    margin: auto;
    text-align: center;
    color: dodgerblue;
}

#playerTable td{
    width: 30px; 
    height: 30px;
    border: 1px solid #444444;
    cursor: pointer;
    position: relative;
    font-family: 'Black Ops One', sans-serif;
}

#playerTable tr:first-child td{
    border: none;
    cursor: default;
}

#playerTable tr > td:nth-child(1){
    border: none;
    cursor: default;
}

#playerTable tr:first-child td:hover{
    background: #ffffff;
}

#playerTable tr > td:nth-child(1):hover{
    background: #ffffff;
}

#configureInstructions{
    width: 400px;
    margin: 20px auto;
    font-family: 'Black Ops One', sans-serif;
    text-align: center;
    color: #444444;
}

.gameButton{
    margin: 20px auto;
    width: 150px;
    padding: 10px 20px;
    cursor: pointer;
    text-align: center;
    font-size: 24px;
    font-family: 'Black Ops One', sans-serif;
    border: 2px solid #000000;
    -webkit-border-radius: 200px;
    -moz-border-radius: 200px;
    -o-border-radius: 200px;
    border-radius: 200px;
}

#startButton{
    color: #ffffff;
    background: #1E4C6D;
}

#startButton:hover{
    background: rgb(42, 106, 151);
}

#randomizeButton{
    color: #ffffff;
    background: green;
}

#randomizeButton:hover{
    background: rgb(14, 175, 14);
}


.shipBlock{
    position: absolute;
    top: -2px;
    left: -2px;
    border: 2px solid #1E4C6D;
    background: rgba(60, 174, 255, 0.575);
    cursor: move;
    z-index: 5;
}

.shipBlockMoving{
    position: absolute;
    top: -2px;
    left: -2px;
    border: 2px solid rgb(39, 189, 169);
    background: rgba(52, 203, 223, 0.37);
    cursor: move;
    z-index: 5;
}

#oneShip_h{
    width: 30px;
    height: 30px;
}

#twoShip_h{
    width: 65.33px;
    height: 30px;
}

#threeShip_h{
    width: 98px;
    height: 30px;
}

#oneShip_v{
    width: 30px;
    height: 30px;
}

#twoShip_v{
    width: 30px;
    height: 62px;
}

#threeShip_v{
    width: 30px;
    height: 95px;
}