*{margin: 0px;
  padding: 0px;}
  
header, nav, section, article, footer,aside, hgroup{display: block;}

body{
  background: url(Images/SplashBG2.png) no-repeat center;
  background-size: cover;
}

#content-wrapper{
  position: relative;  
  text-align: center;
}

#contentCentered{
  position: relative;
  top: 50%;
  height: 350px;
  margin-top: -175px;
}

#curvedTitle{
  color: #ffffff; 
  -webkit-text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
  -moz-text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
  -o-text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
  font-family: 'Black Ops One', sans-serif;
  font-size: 60px;
}

#shipBG{
  width: 200px;
  height: 200px;
  margin: 0 auto 10px auto;
  background: url(Images/battleship.svg) no-repeat center;
  background-size: contain;
}

#playButton{
  border: 2px solid #000000;
  background: #ff8000;
  color: #ffffff;
  padding: 10px 20px;
  font-size: 36px;
  text-decoration: none;
  -webkit-text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
  -moz-text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
  -o-text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
  font-family: 'Black Ops One', sans-serif;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -o-border-radius: 100px;
  border-radius: 100px;
  -webkit-animation: playButtonShine 2s infinite;
  -moz-animation: playButtonShine 2s infinite;
  -o-animation: playButtonShine 2s infinite;
  animation: playButtonShine 2s infinite;
}

#playButton:hover{
  -webkit-animation: playButtonPop 2s infinite;
  -moz-animation: playButtonPop 2s infinite;
  -o-animation: playButtonPop 2s infinite;
  animation: playButtonPop 2s infinite;
}

@keyframes playButtonShine{
  10% {
    background: #ff8000;
  }
  50%{
    background: red;
  }
  100% {
    background: #ff8000;
  }
}

@keyframes playButtonPop{
  0%{
    border-width: 2px;
  }
  10%{
    border-width: 6px;
  }
  20%{
    border-width: 2px;
  }
  30%{
    border-width: 6px;
  }
  40%{
    border-width: 2px;
  }
  100%{
    border-width: 2px;
  }
}
